<% if logged_in? %>
  <p>ログインユーザー：<%= current_user.name %></p>
  
<%= render "tasks", tasks: @tasks %>

<h2>タスク新規作成</h2>
<%= render "form", task: @task %>
<div><br></div>
<%= link_to "ログアウト", logout_path, method: :delete %>

<% end %>