<div>
  <h2><%= @user.name %></h2>
</div>

<div>
  <%= render "tasks/tasks", tasks: @tasks %>
</div>

<div>
  <%= link_to "タスクを見る", root_path %>
</div>
<br>
<div>
  <%= link_to "ログアウト", logout_path, method: :delete %>
</div>